<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet" type="text/css">

    <!-- colyseus.js client -->
    <script type="text/javascript" src="/colyseus.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>
<div id="app">
    <div class="topRow">
        <div class="players">
            <span>Pseudo: </span><input type="text" v-model="name"/>
            <div class="player" v-for="session in Object.keys(players)" :key="session">{{ players[session].name }}{{ game.isStarted ? `: ${players[session].cards.length}`: '' }}</div>
        </div>
        <div class="center">
            <div class="msg" v-if="msg" v-html="msg"></div>
            <div class="gif" v-if="gif">
                <iframe :src="gif" width="480" height="217" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                <div class="overlay" v-on:click="closeGif()"></div>
            </div>
            <div class="startGame" v-if="!game.isStarted" v-on:click="startGame()">jouer</div>
            <div class="deck" v-if="deck.length">
                <div class="card">
                    <img src="/assets/cardBg.png"/>
                    <div class="smallNumber">{{ lastCard }}</div>
                    <div class="bigNumber">{{ lastCard }}</div>
                </div>
            </div>
        </div>
        <div class="infos">
            <div v-if="game.level > 0">Level: {{ game.level }}</div>
            <div v-if="game.level > 0"><img src="/assets/heart.png"/>: {{ game.lifes }}</div>
            <div class="quit" v-if="game.level > 0" v-on:click="restart()"><img src="/assets/exit.png"></div>
        </div>
    </div>
    <div class="bottomRow">
        <div class="card" v-if="me && !gif" v-for="card in me.cards" v-on:click="playCard(card)">
            <img src="/assets/cardBg.png"/>
            <div class="smallNumber">{{ card }}</div>
            <div class="bigNumber">{{ card }}</div>
        </div>
    </div>

</div>
<script>
    const host = window.document.location.host.replace(/:.*/, '');

    const client = new Colyseus.Client(location.protocol.replace("http", "ws") + "//" + host + (location.port ? ':' + location.port : ''));
    let room;

    const MSG = {
        'LEVEL_UP': 'Well done guys !!',
        'WIN': 'BRAVISSIMO :)',
        'LOOSE': 'You LOOSE !',
        'GAME_IN_PROGRESS': "Vous arrivez en cours de partie, merci d'attendre la fin du tour !",
    };

    const App = new Vue({
        el: "#app",
        data: {
            game: {},
            players: {},
            deck: [],
            name: '',
            msg: '',
            gif: '',
        },
        computed: {
            me: function () {
                return Object.keys(this.players).length && this.players[room.sessionId];
            },
            lastCard: function () {
                return this.deck.length && this.deck[this.deck.length - 1];
            },
        },
        methods: {
            startGame: function () {
                room.send({ action: 'START_GAME' });
            },
            playCard: function (card) {
                room.send({ action: 'PLAY_CARD', card });
            },
            setMsg: function (msg) {
                this.msg = msg;
                this.timeout && clearTimeout(this.timeout);
                this.timeout = setTimeout((() => this.msg = '').bind(this), 5000);
            },
            restart: function () {
                room.send({ action: 'RESTART' });
            },
            showGif: function (gif) {
                this.gif = gif;
                setTimeout((() => this.gif = '').bind(this), 7000);
            },
            closeGif: function () {
                this.gif = null;
            },
        },
        created: async function () {
            room = await client.joinOrCreate("the_mind");

            // listen to patches coming from the server
            room.state.players.onAdd = (player, sessionId) =>
                this.players = { ...this.players, [sessionId]: player };

            room.state.players.onRemove = (player, sessionId) =>
                delete this.players[sessionId];

            room.state.players.onChange = (player, sessionId) =>
                this.players = { ...this.players, [sessionId]: player };

            room.state.deck.onAdd = (card) =>
                this.deck = [ ...this.deck, card ];
            room.state.deck.onRemove = (card) =>
                this.deck = this.deck.filter(c => c !== card);

            room.state.game.onChange = (changes) =>
                changes.forEach(change => this.game = { ...this.game, [change.field]: change.value });

            room.onMessage((msg) => {
                console.log(msg);
                if (!msg.action) return;
                if (msg.action === 'MISTAKE') {
                    const { player, lowestCardObj } = msg;
                    this.setMsg(`${player.name} Fucked Up !<br> ${lowestCardObj.ownerName}, pose ton ${lowestCardObj.value}!`);
                    this.showGif(msg.gif);
                } else if (msg.action === 'LEVEL_UP') {
                    this.setMsg(MSG.LEVEL_UP);
                } else if (msg.action === 'WIN') {
                    this.setMsg(MSG.WIN);
                    this.showGif(msg.gif);
                } else if (msg.action === 'LOOSE') {
                    this.setMsg(MSG.LOOSE);
                    this.showGif(msg.gif);
                } else if (msg.action === 'GAME_IN_PROGRESS') {
                    this.setMsg(MSG.GAME_IN_PROGRESS);
                }
            });

            this.$watch('name', name => {
                localStorage.setItem('name', name);
                room.send({ name })
            });
            if (localStorage.getItem('name')) {
                this.name = localStorage.getItem('name');
            }

        }
    });

</script>
</body>
</html>
