<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- colyseus.js client -->
    <script type="text/javascript" src="https://raw.githack.com/colyseus/colyseus.js/master/dist/colyseus.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

    <style>
        body { font-family: Tahoma, Geneva, sans-serif; background-color: grey; color: white }
        .players span { margin: 10px; }
        .hand { display: flex; position: absolute; bottom: 10px; }
        .hand div { margin: 10px;}
        .deck { font-size: 20px; display: flex; justify-content: center; }
    </style>

</head>
<body>
<div id="app">
    <h1>
        The Mind, The Game
    </h1>
    <div class="players">Players: <span v-for="session in Object.keys(players)" :key="session">{{ players[session].name }}</span></div>
    <span>name: </span><input type="text" v-model="name"/>
    <div>level: {{ game.level }}</div>
    <div>lifes: {{ game.lifes }}</div>
    <div class="msg">{{ msg }}</div>
    <div class="deck" v-if="deck.length"><div>{{ lastCard }}</div></div>
    <div class="hand">
        <div v-if="me" v-for="card in me.cards" v-on:click="playCard(card)">{{ card }}</div>
    </div>
    <button v-if="game.level === 0" v-on:click="startGame()">start game</button>
</div>
<script>
    const host = window.document.location.host.replace(/:.*/, '');

    const client = new Colyseus.Client(location.protocol.replace("http", "ws") + "//" + host + (location.port ? ':' + location.port : ''));
    let room;
    const App = new Vue({
        el: "#app",
        data: {
            game: {},
            players: {},
            deck: [],
            name: '',
            msg: '',
        },
        computed: {
            me: function () {
                return Object.keys(this.players).length && this.players[room.sessionId];
            },
            lastCard: function () {
                return this.deck.length && this.deck[this.deck.length - 1];
            }
        },
        methods: {
            startGame: function () {
                room.send({ action: 'START_GAME' });
            },
            playCard: function (card) {
                room.send({ action: 'PLAY_CARD', card });
            },
            setMsg: function (msg) {
                this.msg = msg;
                setTimeout((() => this.msg = '').bind(this), 4000);
            }
        },
        created: async function () {
            room = await client.joinOrCreate("the_mind");

            // listen to patches coming from the server
            room.state.players.onAdd = (player, sessionId) => {
                this.players = { ...this.players, [sessionId]: player };
            };

            room.state.players.onRemove = (player, sessionId) =>
                delete this.players[sessionId];

            room.state.players.onChange = (player, sessionId) =>
                this.players = { ...this.players, [sessionId]: player };

            room.state.deck.onAdd = (card) =>
                this.deck = [ ...this.deck, card ];
            room.state.deck.onRemove = (card) =>
                this.deck = this.deck.filter(c => c !== card);

            room.state.game.onChange = (changes) =>
                changes.forEach(change => this.game = { ...this.game, [change.field]: change.value });

            room.onMessage((msg) => {
                console.log(msg);
                if (!msg.action) return;
                if (msg.action === 'CLEAR_DECK') {
                    this.deck = [];
                } else if (msg.action === 'MISTAKE') {
                    const { player, lowestCardObj } = msg;
                    this.setMsg(`${player.name} Fucked Up !\n ${lowestCardObj.ownerName}, pose ton ${lowestCardObj.value} va!`);
                } else if (msg.action === 'LEVEL_UP') {
                    this.setMsg('Well done guys !!');
                } else if (msg.action === 'WIN') {
                    this.setMsg('BRAVO :)');
                } else if (msg.action === 'LOOSE') {
                    this.setMsg('You suck !!')
                }
            });

            this.$watch('name', name => {
                localStorage.setItem('name', name);
                room.send({ name })
            });
            if (localStorage.getItem('name')) {
                this.name = localStorage.getItem('name');
            }

        }
    });

</script>
</body>
</html>
