body {
    font-family: 'Anton', sans-serif;; background: black url("/assets/bg.png") no-repeat;
    background-size: cover; color: white; margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
#app { margin: 10px; display: flex; flex-direction: column; height: calc(100vh - 20px); }
.topRow { display: flex; height: 65%; }
.topRow .players { width: 25%; margin-left: 10px; font-family: 'Anton', sans-serif; }
.topRow .players span { font-size: 1vw; }
.topRow .players input { background: transparent; width: 103px; color: white; border: grey 1px solid; vertical-align: unset; height: 1.5vw; font-size: 1.4vw }
.topRow .players .player { margin-top: 15px; font-size: 2vw; }
.topRow .center {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.topRow .center .startGame { font-weight: bold; font-size: 5vw; cursor: pointer; margin-left: -10%; }
.topRow .center .msg { position: absolute; top: 35px; font-size: 3vw; z-index: 9; width: 100%; text-align: center; background-color: #0000009e; padding: 15px; }
.topRow .center .gif { z-index: 9; position: fixed; bottom: 10px; height: 217px; left: calc(50% - 240px); }
.topRow .center .gif .overlay { z-index: 10; position: fixed; bottom: 10px; height: 217px; width: 480px; left: calc(50% - 240px); background-color: transparent; }

.topRow .infos { width: 25%; font-weight: bold; font-size: 3vw; margin-left: 5%; }
.topRow .infos img { width: 4vw; }
.topRow .infos .quit { position: absolute; bottom: 0px; right: 8px; cursor: pointer; }
.msg, .infos, .startGame { color: #E58813; }

.bottomRow { height: 35%; display: flex; justify-content: center; align-items: center; }
.bottomRow .card { width: 74px; height: 115px; z-index: 5; cursor: pointer; }
.card {
    font-family: 'Anton', sans-serif;
    position: relative;
}
.card img { height: 100%; }
.bottomRow .card .smallNumber { position: absolute; top: 8px; left: 10px; color: white; font-size: 1em; }
.bottomRow .card .bigNumber { color: black; position: absolute; top: 33%; left: 28%; font-size: 2em; }

.deck { display: flex; justify-content: center; }
.deck .card { width: 154px; height: 246px; }
.deck .card .smallNumber { position: absolute; top: 9px; left: 16px; color: white; font-size: 1.5em; }
.deck .card .bigNumber { color: black; position: absolute; top: 35%; left: 35%; font-size: 3em; }
